/* mobile view */
body {
    background-color: #0E111E !important;
    color: #FFFFFF;
}

@media (min-width: 320px) {

    /* navbar */
    .navbar {
        background-color: #0E111E;
        margin-top: 20px;
    }

    .navbar .navbar-brand img {
        width: 80px;
    }

    .navbar .navbar-nav a {
        font-size: 14px;
        font-weight: 500;
    }

    .navbar .btn-call {
        display: inline-block;
        background-color: #39DB4A;
        padding: 9px 17px;
        border-radius: 100px;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar .btn-call a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    .navbar .btn-call img {
        width: 18px;
        margin-right: 5px;
    }

    /* body section */
    .body-section {
        margin-top: 60px;

    }

    .body-section .section-1 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .body-section .section-2 {
        margin-top: 60px;
        margin-bottom: 150px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .body-section img {
        width: 300px;
    }

    .body-section .section-2 img {
        margin-top: 50px;
    }

    .body-section h4 {
        margin-top: 70px;
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .body-section h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
    }

    .body-section p {
        margin-top: 50px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
    }

    .body-section .button {
        display: inline-block;
        background-color: #39DB4A;
        border-radius: 100px;
        box-shadow: -2px 10px 20px #8EFF9A;
        margin-top: 20px;
        padding: 10px 20px;
    }

    .body-section .button a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16;
        font-weight: 500;
    }

    .body-section .button:active {
        transform: translateY(-10px);
        transition: .1s ease-in-out;
    }
}

/* tablet view */
@media (min-width: 768px) {

    /* navbar */
    .navbar {
        background-color: #0E111E;
        margin-top: 20px;
    }

    .navbar .navbar-brand img {
        width: 100px;
    }

    .navbar .navbar-nav a {
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call {
        display: inline-block;
        background-color: #39DB4A;
        padding: 9px 17px;
        border-radius: 100px;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar .btn-call a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call img {
        width: 20px;
        margin-right: 5px;
    }

    /* body section */
    .body-section {
        margin-top: 60px;

    }

    .body-section .section-1 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .body-section .section-2 {
        margin-top: 60px;
        margin-bottom: 150px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .body-section img {
        margin-top: 100px;
        width: 300px;
    }

    .body-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .body-section h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
    }

    .body-section p {
        margin-top: 50px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
    }

    .body-section .button {
        display: inline-block;
        background-color: #39DB4A;
        border-radius: 100px;
        box-shadow: -2px 10px 20px #8EFF9A;
        margin-top: 20px;
        padding: 10px 20px;
    }

    .body-section .button a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16;
        font-weight: 500;
    }

    .body-section .button:active {
        transform: translateY(-10px);
        transition: .1s ease-in-out;
    }
}

/* desktop view */
@media (min-width: 1440px) {

    /* navbar */
    .navbar {
        background-color: #0E111E;
        margin-top: 20px;
    }

    .navbar .navbar-brand img {
        width: 100px;
    }

    .navbar .navbar-nav a {
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call {
        background-color: #39DB4A;
        padding: 9px 17px;
        border-radius: 100px;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar .btn-call a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call img {
        width: 20px;
        margin-right: 5px;
    }

    /* body section */
    .body-section {
        margin-top: 110px;
    }

    .body-section .section-2 {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .body-section img {
        width: 500px;
    }

    .body-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .body-section h1 {
        color: #FFFFFF;
        font-size: 55px;
        font-weight: 500;
    }

    .body-section p {
        margin-top: 50px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }

    .body-section .button {
        display: inline-block;
        background-color: #39DB4A;
        border-radius: 100px;
        box-shadow: -2px 10px 20px #8EFF9A;
        margin-top: 20px;
        padding: 10px 20px;
    }

    .body-section .button a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16;
        font-weight: 500;
    }

    .body-section .button:active {
        transform: translateY(-10px);
        transition: .1s ease-in-out;
    }
}
