/* mobile view */
body {
    background-color: #0E111E !important;
    color: #FFFFFF;
}

@media (min-width: 320px) {

    /* navbar */
    .navbar {
        background-color: #0E111E;
        margin-top: 20px;
    }

    .navbar .navbar-brand img {
        width: 80px;
    }

    .navbar .navbar-nav a {
        font-size: 14px;
        font-weight: 500;
    }

    .navbar .btn-call {
        display: inline-block;
        background-color: #39DB4A;
        padding: 9px 17px;
        border-radius: 100px;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar .btn-call a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    .navbar .btn-call img {
        width: 18px;
        margin-right: 5px;
    }

    /* hero section */
    .hero-section {
        margin-top: 70px;
    }

    .hero-title h1 section {
        display: inline-block;
        color: #39DB4A;
        font-size: 30px;
        font-weight: 700;
    }

    .hero-title .title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
    }

    .hero-title .description {
        color: #4A4A4A;
        font-size: 15px;
        font-weight: 500;
    }

    .hero-section .button {
        display: inline-block;
        background-color: #39DB4A;
        border-radius: 100px;
        box-shadow: -2px 10px 20px #8EFF9A;
        margin-top: 50px;
        padding: 10px 20px;
    }

    .hero-section .button a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16;
        font-weight: 500;
    }

    .hero-section .button:active {
        transform: translateY(-15px);
        transition: .1s ease-in-out;
    }

    .hero-section .hero-image img {
        width: 300px;
        margin-top: 50px;
    }

    /* category section */
    .category-section {
        margin-top: 180px;
    }

    .category-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .category-section h1 {
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 500;
    }

    .category-section .category-box {
        width: 260px;
        height: 260px;
        margin: 70px 20px 0;
        background-color: #252635;
        border-radius: 40px;
    }

    .category-section img {
        width: 100px;
        margin-bottom: 25px;
        margin-top: -15px;
    }

    .category-section h3 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
    }

    .category-section p {
        color: #555555;
        font-size: 20px;
        font-weight: 400;
    }

    /* information section */
    .information-section {
        margin-top: 180px;
    }

    .information-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .information-section h1 {
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 500;
    }

    .information-section .information-box {
        width: 300px;
        height: 380px;
        margin: 70px 20px 0;
        padding: 0 35px;
        background-color: #252635;
        border-radius: 40px;
        position: relative;
    }

    .information-section .egg-icon {
        width: 75px;
        height: 65px;
        background-color: #39DB4A;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0 40px 0 40px;
    }

    .information-section .egg-icon img {
        width: 30px;
    }

    .information-section .gallery {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 35px;
    }

    .information-section h3 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 500;
    }

    .information-section p {
        color: #555555;
        font-size: 15px;
        font-weight: 400;
    }

    .information-section .yellow-text {
        color: #FFE605;
        font-size: 15px;
        font-weight: 400;
    }

    /* description section */
    .description-section {
        margin-top: 180px;
        margin-bottom: 250px;
    }

    .description-section .description-image img {
        margin-top: 70px;
        width: 300px;
    }

    .description-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .description-section h1 {
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 500;
    }

    .description-section p {
        margin-top: 50px;
        color: #555555;
        font-size: 18px;
        font-weight: 500;
    }

    .description-section .description-text img {
        width: 150px;
        margin-top: 40px;
    }
}

/* tablet view */
@media (min-width: 768px) {

    /* navbar */
    .navbar {
        background-color: #0E111E;
        margin-top: 20px;
    }

    .navbar .navbar-brand img {
        width: 100px;
    }

    .navbar .navbar-nav a {
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call {
        display: inline-block;
        background-color: #39DB4A;
        padding: 9px 17px;
        border-radius: 100px;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar .btn-call a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call img {
        width: 20px;
        margin-right: 5px;
    }

    /* hero section */
    .hero-section {
        margin-top: 100px;
    }

    .hero-title h1 section {
        display: inline-block;
        color: #39DB4A;
        font-size: 40px;
        font-weight: 700;
    }

    .hero-title .title {
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
    }

    .hero-title .description {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 500;
    }

    .hero-section .button {
        display: inline-block;
        background-color: #39DB4A;
        border-radius: 100px;
        box-shadow: -2px 10px 20px #8EFF9A;
        margin-top: 50px;
        padding: 10px 20px;
    }

    .hero-section .button a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 22;
        font-weight: 500;
    }

    .hero-section .button:active {
        transform: translateY(-15px);
        transition: .1s ease-in-out;
    }

    .hero-section .hero-image img {
        width: 370px;
    }

    /* category section */
    .category-section {
        margin-top: 180px;
    }

    .category-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .category-section h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
    }

    .category-section .category-box {
        width: 300px;
        height: 300px;
        margin: 70px 20px 0;
        background-color: #252635;
        border-radius: 40px;
    }

    .category-section img {
        width: 100px;
        margin-bottom: 25px;
    }

    .category-section h3 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
    }

    .category-section p {
        color: #555555;
        font-size: 20px;
        font-weight: 400;
    }

    /* information section */
    .information-section {
        margin-top: 180px;
    }

    .information-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .information-section h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
    }

    .information-section .information-box {
        width: 380px;
        height: 440px;
        margin: 70px 20px 0;
        padding: 0 35px;
        background-color: #252635;
        border-radius: 40px;
        position: relative;
    }

    .information-section .egg-icon {
        width: 87px;
        height: 75px;
        background-color: #39DB4A;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0 40px 0 40px;
    }

    .information-section .egg-icon img {
        width: 30px;
    }

    .information-section .gallery {
        width: 190px;
        height: 190px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 35px;
    }

    .information-section h3 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
    }

    .information-section p {
        color: #555555;
        font-size: 17px;
        font-weight: 400;
    }

    .information-section .yellow-text {
        color: #FFE605;
        font-size: 17px;
        font-weight: 400;
    }

    /* description section */
    .description-section {
        margin-top: 180px;
        margin-bottom: 250px;
    }

    .description-section .description-image img {
        margin-top: 70px;
        width: 500px;
    }

    .description-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .description-section h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
    }

    .description-section p {
        margin-top: 50px;
        color: #555555;
        font-size: 18px;
        font-weight: 500;
    }

    .description-section .description-text img {
        width: 200px;
        margin-top: 40px;
    }
}

/* desktop view */
@media (min-width: 1440px) {

    /* navbar */
    .navbar {
        background-color: #0E111E;
        margin-top: 20px;
    }

    .navbar .navbar-brand img {
        width: 100px;
    }

    .navbar .navbar-nav a {
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call {
        background-color: #39DB4A;
        padding: 9px 17px;
        border-radius: 100px;
        text-decoration: none;
        color: #ffffff;
    }

    .navbar .btn-call a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar .btn-call img {
        width: 20px;
        margin-right: 5px;
    }

    /* hero section */
    .hero-section {
        margin-top: 100px;
    }

    .hero-title h1 section {
        display: inline-block;
        color: #39DB4A;
        font-size: 60px;
        font-weight: 700;
    }

    .hero-title .title {
        color: #ffffff;
        font-size: 50px;
        font-weight: 700;
    }

    .hero-title .description {
        color: #4A4A4A;
        font-size: 22px;
        font-weight: 500;
    }

    .hero-section .button {
        display: inline-block;
        background-color: #39DB4A;
        border-radius: 100px;
        box-shadow: -2px 10px 20px #8EFF9A;
        margin-top: 50px;
        padding: 10px 20px;
    }

    .hero-section .button a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 22;
        font-weight: 500;
    }

    .hero-section .button:active {
        transform: translateY(-15px);
        transition: .1s ease-in-out;
    }

    .hero-section .hero-image img {
        width: 600px;
    }

    /* category section */
    .category-section {
        margin-top: 180px;
    }

    .category-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .category-section h1 {
        color: #FFFFFF;
        font-size: 55px;
        font-weight: 500;
    }

    .category-section .category-box {
        width: 300px;
        height: 300px;
        margin: 70px 20px 0;
        background-color: #252635;
        border-radius: 40px;
    }

    .category-section img {
        width: 130px;
        margin-bottom: 25px;
    }

    .category-section h3 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
    }

    .category-section p {
        color: #555555;
        font-size: 20px;
        font-weight: 400;
    }

    /* information section */
    .information-section {
        margin-top: 180px;
    }

    .information-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .information-section h1 {
        color: #FFFFFF;
        font-size: 55px;
        font-weight: 500;
    }

    .information-section .information-box {
        width: 380px;
        height: 440px;
        margin: 70px 20px 0;
        padding: 0 35px;
        background-color: #252635;
        border-radius: 40px;
        position: relative;
    }

    .information-section .egg-icon {
        width: 87px;
        height: 75px;
        background-color: #39DB4A;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0 40px 0 40px;
    }

    .information-section .egg-icon img {
        width: 30px;
    }

    .information-section img {
        width: 170px;
        margin-bottom: 35px;
    }

    .information-section h3 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
    }

    .information-section p {
        color: #555555;
        font-size: 17px;
        font-weight: 400;
    }

    .information-section .yellow-text {
        color: #FFE605;
        font-size: 17px;
        font-weight: 400;
    }

    /* description section */
    .description-section {
        margin-top: 180px;
        margin-bottom: 250px;
    }

    .description-section .description-image img {
        margin-top: 70px;
        width: 500px;
    }

    .description-section h4 {
        color: #FF6868;
        font-size: 16px;
        font-weight: 500;
    }

    .description-section h1 {
        color: #FFFFFF;
        font-size: 55px;
        font-weight: 500;
    }

    .description-section p {
        margin-top: 50px;
        color: #555555;
        font-size: 18px;
        font-weight: 500;
    }

    .description-section .description-text img {
        width: 200px;
        margin-top: 40px;
    }
}
